/* *********************************** */
@import url(normalize.min.css);
@import url(reset.css);

/* *********************************** */
/* *** ESTILOS GENERALES *** */
/* *********************************** */

/* Tipografía */
@font-face {
  font-family: "";
  src: url("") format("woff2"), url("") format("woff");
}

/* ******************************** */

/* Colores */

/* ******************************** */

main{
  height:100vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circulo{
height:100px;
width: 100px;
border-radius: 50%;
background-color: blue;
}